<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Demuxed 2016</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/triangles.png">
  </head>
  <body>
    <!-- <header>
      <img src="/img/logo.png" class="logo" alt="Demuxed Logo">
    </header> -->

    <%- yield %>

    <!-- <footer></footer> -->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65945120-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
