<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Demuxed 2016</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/triangles.png">
  </head>
  <body>
    <!-- <header>
      <img src="/img/logo.png" class="logo" alt="Demuxed Logo">
    </header> -->

    <%- yield %>

    <!-- <footer></footer> -->
  </body>
</html>
