<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Demuxed</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <!-- <a class="nav-link" href="#">Podcast</a> -->
            <a class="nav-link" href="http://2015.demuxed.com" target="_blank">Demuxed 2015</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading logo">Demuxed 2016</h1>
        <p class="lead">
          October 13, 2016<br>
          San Francisco @ <a href="http://www.ellation.com/" target="_blank">Ellation</a> HQ
        </p>
        <div class="row">
          <div class="col-sm-12">
            <a href="https://docs.google.com/a/mux.com/forms/d/1Y0XRId6GfzRGBbiMrnsG8jYGvrrnPe9h23hGjqfP6OY/viewform" class="btn btn-lg btn-success btn-block">I want to speak!</a>
            <p class="text-xs-center">Deadline for submissions is <strong>July 15th</strong></p>
          </div>
        </div>
        <div class="row m-t-1">
          <div class="col-sm-6">
            <a href="http://tickets.demuxed.com" class="btn btn-lg btn-secondary btn-block">I want to attend!</a>
          </div>
          <div class="col-sm-6">
            <a href="mailto:sponsor@demuxed.com" class="btn btn-lg btn-danger btn-block">I want to sponsor!</a>
          </div>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p class="pull-md-left">&copy; Demuxed: The community for video engineers.</p>
          <p class="pull-md-right">
            <a href="https://twitter.com/demuxed" target="_blank" class="icon twitter">
              <%- partial("img/icons/_twitter.svg") %> @demuxed
            </a>

            <a href="https://www.youtube.com/channel/UCIc_DkRxo9UgUSTvWVNCmpA" target="_blank" class="icon youtube m-l-1">
              <%- partial("img/icons/_youtube.svg") %> YouTube
            </a>
          </p>
        </div>
      </div>

    </div>

  </div>

</div>
