/* Page Core / Structure */
html{
  font-family: $default-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: $line-height-ratio;
  color: $font-color;
  background-color: $brand-pink;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;    
}

html,body{
  height: 100%;  
}

.wrapper{
  margin: 0 auto;
  position: relative;
  @include animate-in; 
}

canvas{
  -ms-touch-action: double-tap-zoom;
}

a{
  color: $link-color;
  text-decoration: none;

  &:hover{
  }
}

//base styles for main content

h1, h2, h3, h4, h5 {
  font-family: $default-sans;
  font-weight: 100;  
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
}

.main-content {
  
  li {
    @include font-size(16px);
    line-height: 1.6em;
  }
  
  p {
    @include font-size(16px);
    line-height: 1.6em;
    
    a {      
      &:hover {
      color: #fff;
      background: $brand-red;
      }
    }
  }
    
  .container {
    padding: 3em 2em;
    
    @include mq($medium) {
      padding: 4em 2em;
    }
    
    @include mq($large) {
      padding: 6em 2em;
    }
  }
}

.section-heading {
  @include font-size(38px);
  line-height: 1.4em;
  margin-bottom: 1em;
  text-align: center;
  
  &:after {
    height: 2px;
    width: 50px;
    display: block;
    content: "";
    background-color: $brand-red;
    margin: 0.3em auto 0 auto;
  }
  
  @include mq($medium) {
    @include font-size(42px);
    line-height: 1.4em;
  }
  
  @include mq($large) {
    @include font-size(60px);
    line-height: 1.4em;
  }
  
  span {
    display: block;
    font-family: $default-serif;
    @include font-size(16px);
    margin-bottom: 1.6em;
    color: $brand-red;
    
    @include mq($large) {
      @include font-size(20px);
    }
  }
}

.section-sub-heading {
  @include font-size(18px);
  line-height: 1.6em;
  margin-bottom: 1em;
  color: $brand-purple;
  text-align: center;
  
  @include mq($med-large) {
    margin: 0 auto 2em auto;
    max-width: 75%;
  }
  
  @include mq($large) {
    @include font-size(20px);
    line-height: 1.6em;
    max-width: 65%;
    //margin-bottom: 3em;
  }
}

.home-hero {
  text-align: center;
  
  .container {
    @include mq($large) {
      max-width: 1800px;
    }
    
    @include mq($medium) {
      padding: 4em 2em 0em 2em;
    }
    
    @include mq($large) {
      padding: 6em 2em 0 2em;
    }
    
    @include mq($x-large) {
      padding: 8em 2em 0 2em;
    }
  }

  
  .home-hero__heading {
    @include font-size(44px);
    line-height: 1em;
    margin-bottom: 0.3em;
    text-align: center;

    @include mq($med-large) {
      @include font-size(54px);
      line-height: 1em;
      margin-bottom: 0.3em;
    }

    @include mq($large) {
      @include font-size(80px);
      line-height: 1em;
      margin-bottom: 0.1em;
    }
  }
  
  .home-hero__sub-heading {
    font-family: $default-serif;
    @include font-size(20px);
    line-height: 1.4em;
    margin-bottom: 0.8em;
    text-align: center;
    
    @include mq($small) {
      @include font-size(22px);
      margin-bottom: 1.2em;
    }
    
    @include mq($med-large) {
      margin-bottom: 1.4em;
    }
    
    @include mq($large) {
      @include font-size(28px);
      //line-height: 1em;
      margin-bottom: 1em;
    }
  }
  
  .home-hero__btn {
    z-index: 10;
    position: relative;
    @include btn;
    width: 100%;
    @include font-size(16px);
    padding: 0.7em;
    margin-bottom: 3em;
    @include transition-all;
    
    @include mq($small) {
      padding: 1em 0.7em;
      max-width: 14em;
      margin-bottom: 2em;
    }
  }
  
  .hero-illustration-mobile {
    display: block;
    @include mq($medium) {
      display: none;
    }
  }
  
  .hero-illustration {
    display: none;
    z-index: 0;
    
    @include mq($medium) {
      display: block;
      margin-top: -2em;
    }
    
    @include mq($large) {
      margin-top: -4.5em;
    }
  }
}

.speakers {
  
  .container {
    @include mq($xl-large) {
      padding: 6em 0;
    }
  }
  
  .speakers-illustration {
    display: none;
    
    @include mq($xl-large) {
      display: block;
      position:absolute;
      bottom: 0;
    }        
  }
  
  .speakers-list {
    text-align: center;
    
    .speakers-list__card {
      padding: 2em;
      list-style-type: none;
      text-align: center;
      background-color: #fff; 
      margin-bottom: 1em;
      
      @include mq($small) {
        display: inline-block;
        vertical-align: top;
        width: 44%;
        margin: 0 2.5%;
        margin-bottom: 2em;
      }
      
      @include mq($med-large) {
        width: 29%;
        margin-right: 2%;
        margin-left: 2%;
      }
      
      @include mq($large) {
        width: 21%;
        margin-left: 1.5%;
        margin-right: 1.5%;        
        margin-bottom: 2em;
        //min-height: 422px;
      }
      
      @include mq($xl-large) {
        padding: 2em 1.6em;
        width: 15em;
        margin: 0 0.6em 1.6em 0.6em;
      }
      
      &.blank {
        display: none;
        background-color: $brand-pink;
        
        @include mq($xl-large) {
          display: inline-block;
        }
      }
    }
    
    .speakers-list__img {
      width: 140px;
      border-radius: 140px;
      margin-bottom: 1em;
//      -webkit-filter: grayscale(100%);
//      filter: grayscale(100%);
    }
    
    .speakers-list__name {
      @include font-size(24px);
      line-height: 1em;
      margin-bottom: 0.3em;
    }
    
    .speakers-list__company {
      @include font-size(17px);
      line-height: 1em;
      margin-bottom: 1em;
      text-transform: uppercase;
      //letter-spacing: 0.1em;
    }
    
    .speakers-list__talk-title {
      @include font-size(14px);
      line-height: 1.6em;
      margin-bottom: 1.6em;
    }
    
    .speakers-list__btn {
      @include btn;
      padding: 0.7em 2em;
      line-height: 1.4em;
      @include transition-all;
    }
  }
}

.schedule {
  text-align: center;
}

.schedule-list {
  background-color: #fff;
  width: 100%;
  display: inline-block;
  vertical-align: top;

  @include mq($medium) {
    width: 34em;
  }
  
  @include mq($x-large) {
    margin: 0 1.5em;
  }

  
  li {
    padding: 1.6em;
    list-style-type: none;
    @extend %clearfix;
    text-align: left;
  }
  
  .schedule-list__ampm {
    background-color: $brand-pink;
    
    h2 {
      text-align: center;
      text-transform: uppercase;
    }
  }
  
  .schedule-list__talk {
    border-bottom: solid 2px $brand-pink;
  }
  
  .schedule-list__time {
    float: left;
    @include font-size(17px);
    
    @include mq($large) {
      @include font-size(19px);
    }
  }
  
  .schedule-list__type {
    float: right;
    @include font-size(13px);
    
    @include mq($large) {
      @include font-size(14px);
    }
  }
  
  .schedule-list__break {
    background-color: $brand-red;
    color: #fff;
    padding: 1.4em 1.6em;
    
    &.opening-remarks {
      background-color: $brand-purple;
    }
    
    &.lightning-talks {
      background-color: $brand-orange;
    }
  }
  
  .schedule-list__speaker-box {
    padding-top: 1em;
    clear: both;
    position: relative;
    padding-left: 5em;
  }
  
  .schedule-list__speaker {
    @include font-size(22px);
    margin-bottom: 0.2em;
    
    @include mq($large) {
      @include font-size(24px);
      line-height: 1.1em;
      margin-bottom: 0.1em;
    }
  }
  
  .schedule-list__talk-desc {
    @include font-size(14px);
    color: $brand-purple-light;
  }

  
  .schedule-list__img {
    width: 60px;
    position: absolute;
    top: 1em;
    left: 0;
    border-radius: 70px;
  }
}

.location {
  text-align: center;
  
  @include mq($large) {
    padding-top: 2em;
  }
  
  .container {
    position: relative;
    
    max-width: 62em;
  }
  
  .section-heading {
    @include mq($medium) {
      text-align: left;
      
      &:after {
        margin: 0.3em 0;
      }
    }
  }
  
  .location-text {
    margin-bottom: 2em;
    
    @include mq($medium) {
      text-align: left;
    }
  }
  
  .location-details {
    @include mq($medium) {
      @include font-size(20px);
      line-height: 1.6em;
    }
  }
  
  .location-illustration {
    display: inline-block;
    
    @include mq($medium) {
      position: absolute;
      top: 0;
      right: 2em;
    }
    
    @include mq($large) {
      right: 0;
    }
  }
}

.map {
  position: relative;
  text-align: center;
  //pointer-events: none;
}

.map-link {
  display: inline-block;
  
  &:hover {
    opacity: 0.8;
  }
  
//  &:before {
//    content: "";
//    display: block;
//    width: 40px;
//    height: 40px;
//    @extend %logo-avatar;
//    background-position: center;
//    background-size: 50px 50px;
//    border-radius: 60px;
//    position: absolute;
//    @include vertical-center;
//    @include horizontal-center;
//  }
}

.about-us {
  text-align: center;
  
  .container {
    @extend %clearfix;
    position: relative;
    
    @include mq($xl-large) {
      padding-top: 10em;
    }
  }
  
  .about-us__text {
    text-align: left;
    margin-bottom: 3em;
    
    @include mq($medium) {
      max-width: 36em;
      margin: 0 auto 4em auto;
    }
    
    @include mq($xl-large) {
      float: left;
      max-width: 30em;
    }
    
    .section-heading {
      @include mq($xl-large) {
        text-align: left;

        &:after {
          margin: 0.3em 0;
        }
      }
    }
    
    p {
      margin-bottom: 1em;
      
      @include mq($medium) {
        @include font-size(18px);
        line-height: 1.8em;
      }
    }
    
    h3 {
      @include font-size(26px);
      line-height: 1.6em;
      
      @include mq($large) {
        @include font-size(40px);
        line-height: 1.8em;
      }
    }
  }
  
  .about-us__images {
    width: 100%;
    max-width: 706px;
    display: inline-block;
    
    @include mq($xl-large) {
      position: absolute;
      right: 0;
    }
  }
}

.guiding-principles {
  text-align: center;
  
  .container {
    @include mq($xl-large) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .guiding-principles__list {
    li {
      list-style-type: none;
      margin-bottom: 2em;
      
      @include mq($small) {
        display: inline-block;
        vertical-align: top;
        width: 44%;
        padding: 0 2.5%;
        margin-bottom: 2em;
      }
      
//      @include mq($med-large) {
//        width: 29%;
//        margin-right: 2%;
//        margin-left: 2%;
//      }
      
      @include mq($large) {
        width: 24%;
        padding-left: 2%;
        padding-right: 2%;        
        margin-bottom: 2em;
      }
    }
    
    .guiding-prinicples__img {
      margin-bottom: 1em;
    }
    
    .guiding-principles__title {
      @include font-size(26px);
      line-height: 1.2em;
      margin-bottom: 0.3em;
      
      @include mq($medium) {
        @include font-size(34px);
        line-height: 1.1em;
        margin-bottom: 0.6em;
      }
    }
    
    .guiding-principles__text {
      @include mq($medium) {
        line-height: 1.7em;
      }
    }
  }
}

.sponsors {
  text-align: center;
  
  .container {
    @include mq($large) {
      padding-bottom: 16em;
    }
  }
  
  .sponsors__sponsor-list {
    margin-bottom: 1.6em;
    
    li {
      display: inline-block;
      list-style-type: none;
      width: 250px;
      padding: 0.2em;
      margin: 0 3% 2.5em 3%;
      vertical-align: middle;
      
      @include mq($large) {
        margin-left: 5%;
        margin-right: 5%;
      }
    }
    
    &.platinum {
      li {
        vertical-align: bottom;
      }
    }
    
    &.gold, &.silver {
      li {
        width: 200px;
      }
    }
    
    &.bronze {
      li {
        width: 150px;
      }
    }
  }
  
  .sponsors__type {
    @include font-size(16px);
    margin-bottom: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
}


.modal {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 110;
  text-align: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  
  @include mq($medium) {
   position: fixed; 
  }
  
  &.modal:target {
    visibility: visible;
    opacity: 1;
  }
  
  .modal__container {
    background-color: #fff;
    padding: 2em;
    margin: 1em;
    text-align: center;
    max-width: 36em;
    position: relative;
    display: inline-block;
    
    @include mq($large) {
      margin-top: 10%;
      //@include vertical-center;
    }
    .speakers-list__img {
      width: 80px;
      border-radius: 80px;
      margin-bottom: 1em;
    }
    
    .speakers-list__name {
      @include font-size(24px);
      line-height: 1em;
      margin-bottom: 0.3em;
    }
    
    .speakers-list__company {
      @include font-size(17px);
      line-height: 1em;
      margin-bottom: 1em;
      text-transform: uppercase;
      //letter-spacing: 0.1em;
    }
    
    p {
      @include font-size(14px);
      line-height: 1.6em;
      margin-bottom: 1.6em;
      
      &:last-child {
        margin-bottom: 0;
      } 
           
      @include mq($large) {
        @include font-size(16px);
        line-height: 1.7em;
      }
    }
    
    .modal-btn {
      @extend %modal-closed;
      width: 70px;
      height: 65px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 66%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 120;
      
      &:hover {
        opacity: 0.6;
      }
    }
    
  }
}