.live-stream {
  width: 100%;
  min-height: 378px;
  margin-bottom: 350px;
  text-align: center;

  h2 {
    margin-top: 2em;
  }

  p {
    width: 50%;
    margin: 0 auto;
  }
}

.hashtag {
  font-weight: bold;
  color: $brand-red;
}
