.modal {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 110;
  text-align: center;
  position: fixed;

  &.is-open {
    display: block;
  }

  .modal__overlay {
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .modal__container {
    background-color: #fff;
    max-width: 36em;
    max-height: 80vh;
    overflow-y: scroll;
  }

  @include mq($medium) {
   //position: fixed;
  }

  .speaker_details {
    display: inline-block;
    margin: 1em;
  }

  .modal__content {
    padding: 2em;
    margin: 1em;
    text-align: center;
    max-width: 36em;
    position: relative;
    display: inline-block;

    @include mq($large) {
      padding: 3em;
    }

    .speakers-list__img-wrap {
      display: inline-block;
      width: 80px;
      //height: 80px;
      margin-bottom: 1em;
      background-color: $brand-purple;
    }

    .speakers-list__img {
      //width: 100%;
      mix-blend-mode: luminosity;

      &:before {
        content: ' ';
        display: block;
        height: 80px;
        width: 80px;
        background-image: url("/images/default-avatar.svg");
        background-position: center;
        background-size: contain;
      }
    }

    .speakers-list__name {
      @include font-size(16px);
      line-height: 1em;
      margin-bottom: 0.4em;
    }

    .speakers-list__company {
      @include font-size(13px);
      line-height: 1em;
      margin-bottom: 1em;
      text-transform: uppercase;
      color: $brand-purple-light;
    }

    p {
      @include font-size(12px);
      line-height: 1.6em;
      margin-bottom: 1.6em;

      &:last-child {
        margin-bottom: 0;
      }

      @include mq($large) {
        @include font-size(13px);
        line-height: 1.7em;
      }
    }

    .modal-btn {
      @extend %modal-closed;
      width: 70px;
      height: 65px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 66%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 120;

      &:hover {
        opacity: 0.6;
      }
    }

  }
}
