
/* SVG Silent Extends */
%logo-black {
  background-image: inline-image('/logo-black.svg');
}

%logo-white {
  background-image: inline-image('/logo-white.svg');
}

%device-menu-btn-closed {
  background-image: inline-image('x.svg');
}

%device-menu-btn-open {
  background-image: inline-image('menu.svg');
}

%modal-closed {
  background-image: inline-image('pink-x.svg');
}

%twitter {
  background-image: inline-image('/twitter.svg');
}

%facebook {
  background-image: inline-image('/facebook.svg');
}

%youtube {
  background-image: inline-image('/youtube.svg');
}

%instagram {
  background-image: inline-image('/instagram.svg');
}

%logo-avatar {
  background-image: inline-image('/logo-avatar.svg');
}

%star {
  background-image: inline-image('/star.svg');
}

%lightning {
  background-image: inline-image('/lightning.svg');
}

%for-everyone {
  background-image: inline-image('/for-everyone-icon.svg');
}

%affordable {
  background-image: inline-image('/affordable-icon.svg');
}

%no-marketing {
  background-image: inline-image('/no-marketing-icon.svg');
}

%heart {
  background-image: inline-image('/heart.svg');
}
