body.venue-display {
  background-color: $brand-purple;
  margin: 0px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lottie{
  width:100%;
  height:85vh;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}
