---
title: Demuxed | 2018 Live Stream
---

%section.content-page
  %div.container.content-container

    %h2 Demuxed 2018 Live Stream

    %p
      Folks viewing the live stream are more than welcome to join us in #demuxed on <a href="https://video-dev.org" target="_blank" rel="noopener noreferrer">Video Dev chat</a>. That's where we'll be fielding Q&A for any talks that open up time for questions at the end.

    %iframe{src: "https://player.twitch.tv/?channel=demuxed", height: 452, width: 800, frameborder: "none", scrolling: false, allowfullscreen: true}
</iframe>
