---
title: Demuxed 2017 Live | Demuxed, The Conference for Video Engineers
---

%section.live-stream
  %h1 Demuxed 2017: Live Stream
  %iframe{src: "https://player.twitch.tv/?channel=demuxed", frameborder: "0", allowfullscreen: "true", scrolling: "no", height: "378", width: "620"}
    = link_to "https://www.twitch.tv/demuxed?tt_content=text_link&tt_medium=live_embed", "Watch live video from Demuxed on www.twitch.tv"

  %h2 Questions?
  %p
    We'd love for you to get involved remotely! If you have any questions, please use the hash tag
    "<a href="https://twitter.com/hashtag/Demuxed17" class="hashtag">#Demuxed17</a>". We can't promise we'll be able to, but we'll do our
    best to get the question to the speaker during Q&A.
