---
title: Demuxed | Meetups around the world
---

%section.content-page
  %div.container.content-container

    %h1 Video technology meetups around the world

    %p
      We're transitioning Demuxed.com to be a community portal, but in the meantime, here's a list of all the video tech meetups around the world. Each is run independently by its own <strong>amazing</strong> group of organizers, so be sure to go thank your local organizer at the next meetup you attend. Ordering is by date the group was created (because...appending is easy).

    %p If you organize a group and don't see your name on here, <a href="mailto:info@demuxed.com">email us</a>!

    %ul
      %li
        %a{href: "http://sfvideo.org"} San Francisco
      %li
        %a{href: "http://www.meetup.com/London-Video-Technology/"} London
      %li
        %a{href: "http://www.meetup.com/BOS-Video-Technology/"} Boston
      %li
        %a{href: "https://www.meetup.com/Sydney-Video-Technology/"} Sydney
      %li
        %a{href: "http://www.meetup.com/Paris-Video-Tech/"} Paris
      %li
        %a{href: "http://www.meetup.com/Video-Tech-NYC/"} New York
      %li
        %a{href: "https://www.meetup.com/SeattleVideoTech/"} Seattle
      %li
        %a{href: "https://www.meetup.com/TLV-Video-Technology/"} Tel Aviv
      %li
        %a{href: "http://www.denvervideotechnology.org"} Denver
      %li
        %a{href: "https://www.meetup.com/BCNVideoTech/"} Barcelona
      %li
        %a{href: "https://www.meetup.com/Los-Angeles-Video-Technology/"} Los Angeles
      %li
        %a{href: "https://www.meetup.com/Stockholm-Video-Technology/"} Stockholm
      %li
        %a{href: "https://www.meetup.com/Taipei-Video-Technology/"} Taipei
      %li
        %a{href: "https://www.meetup.com/Tokyo-Video-Tech/"} Tokyo
      %li
        %a{href: "https://www.meetup.com/Norway-Video-Technology/"} Norway
