---
title: Demuxed | Meetups around the world
---

%section.content-page
  %div.container.content-container

    %h1 Video meetups around the world

    %ul
      %li
        %a{href: "http://sfvideo.org"} San Francisco
      %li
        %a{href: "http://www.meetup.com/London-Video-Technology/"} London
      %li
        %a{href: "http://www.meetup.com/BOS-Video-Technology/"} Boston
      %li
        %a{href: "https://www.meetup.com/Sydney-Video-Technology/"} Sydney
      %li
        %a{href: "http://www.meetup.com/Paris-Video-Tech/"} Paris
      %li
        %a{href: "http://www.meetup.com/Video-Tech-NYC/"} New York
      %li
        %a{href: "https://www.meetup.com/SeattleVideoTech/"} Seattle
      %li
        %a{href: "https://www.meetup.com/TLV-Video-Technology/"} Tel Aviv
      %li
        %a{href: "http://www.denvervideotechnology.org"} Denver
