---
title: Demuxed, The Conference for Video Engineers | Global Meetups
---

%section.home-hero
  %div.container
    %h1.home-hero__heading
      Video Tech Meetups Around the World
      %br
      %br
    %h2.home-hero__sub-heading
      <a href="http://sfvideo.org">San Francisco</a>
      %br
      <a href="http://www.meetup.com/London-Video-Technology/">London</a>
      %br
      <a href="http://www.meetup.com/BOS-Video-Technology/">Boston</a>
      %br
      <a href="https://www.meetup.com/Sydney-Video-Technology/">Sydney</a>
      %br
      <a href="http://www.meetup.com/Paris-Video-Tech/">Paris</a>
      %br
      <a href="http://www.meetup.com/Video-Tech-NYC/">New York</a>
      %br
      <a href="https://www.meetup.com/SeattleVideoTech/">Seattle</a>
      %br
      <a href="https://www.meetup.com/TLV-Video-Technology/">Tel Aviv</a>
      %br

    %h2.home-hero__sub-heading
      Video Tech Slack Channel
      %br
      <a href="http://video-dev.org/">Video Dev Slack</a>
      %br
      %br
      %br
      %br
