---
title: Demuxed, The Conference for Video Engineers
---

%section.content-page
  %div.container.content-container
    %h1 Submit a talk proposal

    %p
      Maybe you right now: "Wow, this looks like a wall of text. <a href="#you-type-too-much">Just take me to the form</a>."

    %p
      The best part of Demuxed, at least in my opinion, is that the content is as organic as the food you'll find in any self-respecting San Francisco restaurant. The talks are submitted by engineers that are working on interesting things and reviewed/selected (we'll cover the details on that later) by <em>other</em> engineers working on interesting things. The result? Talks on interesting things that video engineers actually want to hear about!

    %h2 The selection process

    %p
      Let us say up front, that at this point we're starting to have the best problem any technical conference can have: enough fantastic submissions that we can't accept all of them. Every year we have to make really difficult decisions about which ones we accept and which ones we don't, and the reasoning for why some make it and some don't can vary wildly. Regardless of whether or not your talk is accepted, if you submit one at all you're playing a huge part in making the event amazing.

    %p
      That being said, here's a rough outline of how our selection process works. Don't worry, we'll also go over a lot of this again as you complete the submission form, so no need to memorize all of this right now.

    %h3 1. Get as many excellent submissions from as many people as possible
    %p
      We encourage and accept submissions from <strong>everyone</strong> in the industry (mostly technical folks, to be fair, but really the bar is anyone that can interest a room full of developers that work with video).

    %h3 2. Redact anything that could be identifying
    %p
      When submissions close, we'll have someone that's <em>not</em> involved in the selection process go through and redact anything identifying in each submission title/description. This can be a host of things based on context, but the obvious ones are company name, speaker name, or any gender pronouns.

    %h3 3. Individually review each anonymized submission
    %p
      The selection committee will then (indvidually) go through and rank each submission 1-10, taking into account the following:

    %ul
      %li Coherence and clarity of proposal
      %li Relevance to the Demuxed community (aka, developers working with video)
      %li Novelty and originality of the topic
      %li Reasonably communicable in the time allotted

    %p
      In past years, this part of the process was done as a group in a room. This year we want to try out having a slightly larger committee that does this part of the process individually so we can try and avoid groupthink for the initial pass.

    %h3 4. De-anonymize and build a schedule

    %p
      A smaller subset of the selection committee from the last round will then meet in person to review the ranked and de-anonymized submissions. The goal at this point is to build a coherent and diverse line-up of speakers from all backgrounds and speaking experiences.

    %h2 Improving your odds at getting picked

    %p
      Keep in mind that, at least for the initial selection process, your anonymized submission is competing against a pile of other anymous submissions. That means that you can't rely on name recognition if your company does really cool stuff or you're known as an amazing speaker.

    %h3 Put some effort in (or at least make it look like it)

    %p
      This one is probably the most important, and simultaneously the scariest sounding but probably easiest one. Don't take this to mean you need to write a 1500 word essay to be selected, but little things like coherent sentences and punctuation can go an astonishingly long way. Show the committee you've thought about and worked on the topic!

    %h3 Talk about something you care about

    %p
      Don't just submit a talk that you think the committee wants to see! The personal stories that come out of the depths of time spent in command lines, text editors, and, perhaps worst of all, meetings make for the best talks.

    %h3 Submit a few ideas (separately)

    %p
      You're welcome to submit <strong>as many talks</strong> as you want. Seriously. You can even submit the same general topic multiple times, but with different angles. The one thing we ask is that you submit each one as its own individual submission. If you do submit a few talks, feel free to let us know that we can refer to another submission for you personal details like bio, photo, etc. No one wants to type their own bio in once, much less 5 times.

    %h3 Feel free to submit something weird

    %p
      This shouldn't come as a surprise, but we're going to get a few submissions on next-gen codecs, HDR, color theory, etc. You should submit the talk you're thinking about on that side of things, of course, but <em>also</em> consider submitting the talk about that time you got your potato clock to display 0.5fps video.

    %h3 Just do it!

    %p
      No really, ignore everything above and just submit the talk you're thinking about! You're better off submitting something rather than nothing, and we'll help you polish!

    #you-type-too-much
    .typeform-widget{"data-url" => "https://demuxed.typeform.com/to/A5fsto", :style => "width: 100%; height: 60vh"}

:javascript
  (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
